#map {
	height: 500px;
}

.houseImg {
	margin-top: 50px;
	background: url(../img/houseimg.jpg) no-repeat center center !important;
}
.main-title {
	margin-bottom: 10px !important;
}
.main-sub {
	
}
.main-hr {
	border-color: white;
}
.mapBox{
	margin-bottom: 60px;
}
.navBtn {
	width: 100px;
    text-align: center;
    font-size: 10pt;
}