* {
	padding: 0px;
	margin: 0px;
}

.houseImg {
	margin-top: 50px;
	background: url(../img/houseimg.jpg) no-repeat center center !important;
}
.main-title {
	margin-bottom: 10px !important;
}
.main-sub {
	
}
.main-hr {
	border-color: white;
}
.mapBox{
	margin-bottom: 60px;
}
.navBtn {
	width: 100px;
    text-align: center;
    font-size: 10pt;
}

.content {
	height: 1000px;
	flex-wrap: nowrap;
}

#map {
	width: 100%;
	height: 100%;
}

.content > .content-left {
	width: 30%;
	overflow: auto;
}

.content > .content-right {
	width: 70%;
}

.content-left .item{
	border-top: 1px solid rgba(0,0,0,0.2);
}

.content-left p {
	margin-bottom: 0;
}