* {
    padding: 0;
    margin: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
.wrap {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.header {
    height: 60px;
}

.header .navbar {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #f8f9fa !important;
}

.header .navbar .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header .navbar .container .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
    background-color: transparent;
}

.header .navbar .container .navbar-brand .fa-home {
    padding-right: .5rem !important;
}

.header .navbar .container .btn-zone .btn-group {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.header .navbar .container .btn-zone .btn-group .navBtn {
    width: 100px;
    text-align: center;
    font-size: 10pt;
    box-sizing: border-box;

    margin-right: .5rem !important;
    padding: .25rem .5rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #fff;
    background-color: #007bff;
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #007bff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.header .navbar .container .btn-zone .btn-group .navBtn .fa {
    padding-right: .5rem !important;
}

.option {
    height: 30px;
}

.content {
    height: calc(100vh - 90px);
    flex-wrap: nowrap;
    display: flex;
}

#map {
    width: 100%;
    height: 100%;
}

.content .search {
    width: 30%;
    overflow: auto;
    margin-right: 10px;
}

.content .search::-webkit-scrollbar {
    display: none;
}

.content > .map {
    width: 70%;
}

.search p {
    margin-bottom: 0;
    padding: 8px;
    line-height: 1.2;
}

.search .search-list .item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
}

.search .search-list .item .name {
    font-weight: bold;
    font-size: 1.2em;
}

.search .search-list .item .infos p {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    position: relative;
}

.search .search-list .item .infos p:not(:first-child)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 1em;
    background-color: black;
}


#loading-page {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    font-size: 8em;
    position: absolute;
    z-index: 1;
    text-align: center;
}

:root {
    --building-color: #FF9800;
    --house-color: #0288D1;
    --shop-color: #7B1FA2;
    --warehouse-color: #558B2F;
}

.property {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 40px;
    justify-content: center;
    padding: 4px;
    position: relative;
    transition: all 0.3s ease-out;
    width: 40px;
}

.property::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFFFFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-out;
    width: 0;
    z-index: 1;
}

.property .icon {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.property .icon i {
    font-size: 25px;
}

.property .details {
    display: none;
    flex-direction: column;
    flex: 1;
}

.property .name {
    font-size: 13px;
}

.property .address {
    color: #9E9E9E;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.property .features {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.property .features > div {
    align-items: center;
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    font-size: 10px;
    gap: 5px;
    padding: 5px;
}

/*
 * Property styles in highlighted state.
 */
.property.highlight {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 8px 15px;
    width: auto;
}

.property.highlight::after {
    border-top: 9px solid #FFFFFF;
}

.property.highlight .icon i {
    font-size: 50px;
}

.property.highlight .details {
    display: flex;
}

.features div:nth-child(1) {
    color: #FFA000;
}

.features div:nth-child(2) {
    color: #03A9F4;
}

.features div:nth-child(3) {
    color: #388E3C;
}

/*
 * House icon colors.
 */
.property.highlight:has(.fa-home) .icon {
    color: var(--house-color);
}

.property:not(.highlight):has(.fa-home) {
    background-color: var(--house-color);
}

.property:not(.highlight):has(.fa-home)::after {
    border-top: 9px solid var(--house-color);
}

/*
 * Building icon colors.
 */
.property.highlight:has(.fa-building) .icon {
    color: var(--building-color);
}

.property:not(.highlight):has(.fa-building) {
    background-color: var(--building-color);
}

.property:not(.highlight):has(.fa-building)::after {
    border-top: 9px solid var(--building-color);
}