@charset "UTF-8";
* {
	font-family:'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

/* 회원가입 */
.signupBox {
	width: 40%;
	height: 40%;
	margin-top: 60px;
}
.signupBg {
    height: 800px;
    width: 50%;
    margin-bottom: 70px;
}
label > p {
	display: inline-block;
	color: red;
}
.houseImg {
	margin-top: 50px;
	background: url(../../images/houseimg.jpg) no-repeat center center !important;
}
.navBtn {
	width: 100px;
    text-align: center;
    font-size: 10pt;
}

/* 로그인 */
.loginBg{
	height: 500px;
	width: 50%;
    margin-bottom: 70px;
}